# {{ full_name }}

{{ short_description }}

## Inputs


## Outputs


## Examples


## Development Status

This project uses [semantic-release](https://github.com/semantic-release/semantic-release) for versioning.
Any time the major version changes, there may be breaking changes. If it is working well for you, consider
pegging to the current major version, e.g. `{{ repo_username }}/{{ repo_name }}@v1`, to avoid breaking changes. Alternatively,
you can always point to the most recent stable release with the `{{ repo_username }}/{{ repo_name }}@latest`.


## Developing

Clone the repo and then run `npm install` to set up the pre-commit hooks.

## Author

Created by {{ package_author }}. MIT License.