# {{ full_name }}

{{ short_description }}

## Inputs


## Outputs


## Examples


## Development Status

This project uses [semantic-release](https://github.com/semantic-release/semantic-release) for versioning.
Any time the major version changes, there may be breaking changes. If it is working well for you, consider
pegging to a major version, e.g. `{{ repo_name }}@v1`, to avoid breaking changes.


## Developing

Clone the repo and then run `npm install` to set up the commitlint pre-commit hook.

## Author

Created by {{ package_author }}. MIT License.