name: Publish Example Repositories
on: [push, workflow_dispatch]

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish the example repositories
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install Flexlate Dev Tools
        run: pip install flexlate-dev
      - name: Configure Git Committer
        run: |
          git config --global user.email "derobertis.nick@gmail.com"
          git config --global user.name "Nick DeRobertis"
      - name: Clone the example repositories
        run: |
          cd "$RUNNER_TEMP"
          git clone https://github.com/nickderobertis/github-actions-semantic-release-composite-example
          git clone https://github.com/nickderobertis/github-actions-semantic-release-docker-example
          git clone https://github.com/nickderobertis/github-actions-semantic-release-javascript-example
          git clone https://github.com/nickderobertis/github-actions-semantic-release-typescript-example
      - name: Publish the example repositories
        run: dfxt publish-all -n "$RUNNER_TEMP"
